body {
    background: url("/images/background.png") no-repeat center fixed;
    background-size: contain;
}

.block {
    clear: left;
}

.panel {
    float: left;
}

.panel:not(:last-child) {
    margin-left: 1em;
}