body {
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
}

input, select {
    margin: 0;
    padding: 0;
}

.block {
    clear: left;
    float: left;
    max-width: 100%;
    margin-bottom: 0.3em;
}

.panel {
    float: left;
    margin-right: 0.3em;
}

h2 {
    margin: 0.3em 0 0.1em;
}

h4 {
    margin: 0.1em 0;
}

.keyword {
    font-style: italic;
}

.hint {
    font-size: small;
}

.delete {
    margin-bottom: 0.3em;
}

.remember {
    margin-bottom: 0.2em;
}

a.inner {
    color: #1f1f1f;
    text-decoration: none;
}

table.result {
    margin: 0;
    padding: 0;
}

.result td:nth-child(2) {
    text-align: center;
}

.result td:nth-child(3) {
    text-align: right;
}

.result.shortened td:nth-child(3) {
    text-align: right;
}

.result.shortened td:nth-child(4) {
    text-align: left;
}

.skill {
    margin: 0.2em 0;
}

.body-properties > .panel {
    min-width: 5em;
}

.decreased {
    font-weight: bold;
    text-shadow: 1px 1px 3px #b34705;
}

.increased {
    font-weight: bold;
    text-shadow: 1px 1px 3px #4db322;
}

.changed {
    font-weight: bold;
    text-shadow: 1px 1px 3px #0089b3;
}